@page
@model RazorApp.Pages.IndexModel

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página ASP.NET Razor</title>
</head>

<body>
    Página ASP.NET Razor
    <div>
        @* @Html.RenderPartialAsync("Shared/NavMenuPartial") *@
        <partial name="Shared/NavMenuPartial">
        <h1>Categorias</h1>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Titulo</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString("N")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>